.connect{
	position:absolute;
	height:10%;
	width:100%;
	border-bottom: 0.5px solid #b1abab;
}
.connect p{
	position:relative;
	padding-left: 15px;
    padding-top: 18px;
}
.status_post    
   { 
    width: 98%;
    font-size: 15px;
    padding: 5px 5px 0px 5px;
    min-height: 170px;
	}
.main_column4
{
	position: relative;
    display: block;
    min-height: 120px;
}
.column4{
	background-color: #afd3f8;
    border: 1px solid;
}
.outer{
	    position: relative;
    margin-top: 18%;
    background-color: #afd3f8;

}
.title p{
	text-align: -webkit-center;
    font-size: 20px;	
}
.commentda{
	text-align: -webkit-center;
    font-size: 20px;
}